.grid-container {
    display: grid;
    border: 1px dashed maroon;
    min-height: 400px;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 50px 1fr 60px;
}

.grid-item {
    padding: 20px;
    border: 1px solid maroon;
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
.item1{
    background-color: lightgoldenrodyellow;
    grid-column: 1/span 3;
    grid-row: 1/span 3;
}
.item2{
    background-color: lightcoral;
    grid-column: 1/2;
    grid-row: 2/3;
}
.item3{
    background-color: lightblue;
    grid-column: 2/3;
    grid-row: 2/3;
}
.item4{
    background-color: lightgreen;
    grid-column: 3/4;
    grid-row: 3/4;
}
.item5{
    background-color: lightpink;
    
}
.item6{
    background-color: lightgray;
    grid-column: 1/span 3;
    grid-row: 3/4;

}
